/* footer */
nav {
	clear: both;
}

.menu {
	background: #f5f5f5;
  margin-bottom: 20px;
  display: flex;
	padding: 10px 0;
	-webkit-box-shadow: 0 5px 6px -6px #999;
	-moz-box-shadow: 0 5px 6px -6px #999;
    box-shadow: 0 5px 6px -6px #999;
    margin-top: 15px;
}

.main-menu {
	width: 95%;
  margin: 0px auto;
  /* text-align: left; */
}

.footer-center {
  font-size: 14px;
  text-align: right;
  /* padding: 0 30px 0 0; */
	/* display: inline-block; */
	/* margin: 5px 10px; */
  color: #000;
  /* text-align: left; */
}

.footer-right span {
  display: inline-block;
  margin: 5px 10px;
  /* color: #4056b5; */
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: #333;
}

.main-menu li {
	display: inline-block;
	margin: 5px 10px;
  color: #4056b5;
  text-align: left;
  /* float: left; */
}

.main-menu li:first-child {
	margin-left: 0;
}

.main-menu li:last-child {
	margin-right: 0;
}

.main-menu li a {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
  color: #333;
  text-decoration: none;
}

.main-menu li:hover {
	color: #333;
	background: #ccc;
	cursor: pointer;
}

/* footer*/