.circle {
  position: relative;
  width: 70%;
  height: 55%;
  left: 15%;
  padding: 15% 0 0 0;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid gray;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 1px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.circle img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle:hover {
  cursor: pointer;
}

@media only screen and (max-device-width: 480px){
  .circle {
    position: relative;
    width: 67%;
    height: 55%;
    left: 15%;
    padding: 15% 0 0 0;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid gray;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 1px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  }
}

.sg-nl-title, .sg-nl-sub-title {
    text-align: center;
}

.sg-nl-title h1 {
    font-size: 35px;
}

#news-letter {
  background: #e1de61;;;
  margin: 10px 0;
  padding-top: 10px;
  padding-bottom: 50px;
}

.newsBoxText {
  text-align: center;
  /* border: 1px solid #ccc; */
  padding: 25px 0 30px 0;
  border-radius: 4px;
  position: relative;
}

.newsBoxTitle {
  padding: 0;
  margin: 125px 0;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  z-index: 999;
  position: absolute;
}

.newsBoxTitle-2 {
  padding: 0;
  margin: -20px auto !important;
  font-size: 35px !important;
  /* font-weight: 100 !important; */
  text-align: center !important;
  z-index: 999;
  left: 0;
  position: absolute;
  right: 0;
}

@media only screen and (max-device-width: 480px){
 .newsBoxTitle {
    padding: 0;
    margin: 125px 0;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    z-index: 999;
    position: absolute;
  }
}

/***********Envelope************/

.envelope {
  position: relative;
  margin: 120px auto 0;
  width: 280px;
  height: 166px;
  background: #c94548;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 1px #c94548 inset;
}

.envelope:before,
.envelope:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-width: 83px 140px;
}
.envelope:before {
  border-bottom-color: #c94548;
  top: -100%;
  left: 0px;
  /* transform: rotate(180deg); */
  z-index: 9;
}
.envelope:after {
  border-right-color: #ed4c50;
  border-left-color: #fa565a;
  border-bottom-color: #fa565a;
  top: 0;
  border-radius: 0 0 5px 5px;
  transform: rotate(360deg);
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  left: 0;
}

.paper {
  background: #fff;
  width: 269px;
  height: 90px;
  margin: 30px auto;
  border-radius: 5px;
  position: absolute;
  left: 6px;
  top: -33px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
.paper:before,
.paper:after {
  content: '';
  position: absolute;
  left: 12px;
  background: #e3f1fc;
  height: 4px;
  border-radius: 5px;
}
.paper:before {
  top: 14px;
  width: 31px;
}
.paper:after {
  right: 12px;
  top: 28px;
  box-shadow:
    0 8px 0 #e3f1fc,
    0 16px 0 #e3f1fc,
    0 24px 0 #e3f1fc,
    0 40px 0 #e3f1fc;
}

/***********Envelope************/