.circle-text {
	font-size: 18px;
	/* position: absolute;
	margin-left: 15%; */
}

.circle-text h3:hover {
    cursor: pointer;
}

.one_fourth {
	width: 74%;
    height: 100%;
    margin-left: 13%;
}

@media only screen and (max-device-width: 480px){
    .one_fourth {
        width: 74%;
        height: 100%;
        margin-left: 15%;
	}

	.circle-text {
		font-size: 18px;
		position: absolute !important;
		text-align: center !important;
		left: 0 !important;
		right: 0 !important;
		margin: 0;
	}
}

.button-container {
	position: relative;
	text-align: center;
	padding: 0;
	border-radius: 50%;
	overflow: hidden;
	height: 75%;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 1px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.button-container span:before {
	content: '';
	display: inline-block;
	height: 55%;
	/* 
      vertical-align:middle; 
      height: 100%;*/
}

.button-container span {
	transition: all .5s ease-out;
	background: rgba(88, 88, 88, 0.7);
	border-radius: 50%;
	vertical-align: middle;
	padding: 5%;
	color: #FFFFFF;
	position: absolute;
	font-size: 1.125em;
	font-weight: 700;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 90%;
	display: inline-block;
	text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.button-container span:hover {
	background: none;
	border: none;
	opacity: 0;
}

.button-container img {
	width: 100%;
	height: auto;
	display: block
}

/*****************************img-circle*************************************/

.img-circle {
    position: relative;
    width: 70%;
    padding-top: 70%;
    border-radius: 50%;
    background-color: white;
	left: 50px;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 1px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.img-circle:before {
	position: absolute;
	content: "";
	width: 104%;
	height: 104%;
	top: -2%;
	left: -2%;
	background-color: white;
	border-radius: 50%;
	z-index: -1;
}
.img-circle:after {
	position: absolute;
	content: "";
	width: 106%;
	height: 106%;
	top: -3%;
	left: -3%;
	background-color: rgba(242, 189, 242, 1);
	background-image: linear-gradient(to right bottom, rgba(242, 189, 242, 1) 0%, rgba(140, 218, 237, 1) 100%);
	border-radius: 50%;
	z-index: -2;
}
.img-circle .image-wrapper {
	position: absolute;
	width: 100%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 border-radius: 50%;
	 overflow: hidden;
}
.img-circle .image-wrapper img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*****************************img-circle*************************************/